.site-logo {
  height: 70px;
  width: auto;
}

.color-nav {
  background-color: #202830;
}

.site-header a {
  color: #909faf;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;

}